
#card{
  margin-top:70px ;
}

#offres-speciales{
  margin-top: 100px;
  text-align: center;
  padding: 100px;
  font-size: large;
} 

.card{
  text-align: center;
}
figure{
  text-align: center;
}


